@media print {
	.noPrint {
		display: none;
	}
}

.plainText {
	font-size: 14px;
}
@media print {
	.plainText {
		font-size: 12px;
	}
}

.documentWrapper {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100vw;
	background: var(--background);
	overflow-x: hidden;
}

.document {
	background-color: var(--contentBackground);
	display: flex;
	flex-direction: column;
	/* overflow: auto; */
	width: 100%;
	height: 100%;
	min-height: 200px;
	/* min-width: 320px;	 */
	/* max-width: 980px; */
	max-width: 820px;
	margin-top: 16px;
	margin-bottom: 32px;
	padding: 8px 24px;
	box-shadow: var(--boxShadow) 0px 1px 2px 0px;
	border-radius: 8px;
	color: var(--content);
	transition: var(--transition);
	overflow-x: hidden;
	overflow-y: scroll;
}
@media print {
	.document {
		margin: unset;
		border: none;
		max-width: unset;
		box-shadow: none;
	}
}

.title {
	text-align: center;
	font-family: var(--font-bungee);
	font-weight: normal;
	color: var(--title);
	font-size: 42px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}
@media print {
	.title {
		font-size: 36px;
	}
}

.contactContainer {
	display: flex;
	justify-content: space-around;
	font-size: 14px;
	font-weight: bold;
}
@media print {
	.contactContainer {
		font-size: 12px;
	}
}

.sectionHeader {
	font-size: 20px;
	text-transform: uppercase;
	color: var(--sectionHeader);
	margin: 0px;
}
@media print {
	.sectionHeader {
		font-size: 16px;
	}
}

.columnedLists {
	display: flex;
	flex-direction: row;
}
@media only screen and (max-width: 675px) {
	.columnedLists {
		flex-direction: column;
	}
}

.bulletedList {
	flex: 1;
	margin: 0px;
	padding-left: 24px;
	font-size: 13px;
}
@media print {
	.bulletedList {
		font-size: 11px;
	}
}

.stint {
	margin-top: 0px;
	margin-bottom: 4px;
}

.company {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: normal;
	margin: 0;
}

@media print {
	.company {
		font-size: 14px;
	}
}

.position {
	margin-left: 8px;
}

.positionName {
	margin: 0;
	display: inline-block;
	margin-right: 8px;
	color: var(--positionName);
}
.positionName::after {
	content: ',';
}

.positionDate {
	font-style: italic;
	font-size: 13px;
	font-weight: 200;
}

.educationStint {
	font-size: 13px;
	margin-left: 8px;
}

.accomplishment {
	text-transform: uppercase;
	margin: 0;
	font-size: 13px;
	display: inline-block;
	margin-right: 8px;
	color: var(--positionName);
}

.trainingDate {
	display: inline-block;
	font-style: italic;
	font-size: 13px;
}

/* Divider */
.divider {
	margin-left: -16px;
	margin-right: -16px;
}

/* Action Bar */
.actionBar {
	position: absolute;
	top: 16px;
	left: 16px;
	display: flex;
	flex-direction: column;
}
.actionBar:hover {
	cursor: pointer;
}
/* TODO - This is so hacky. Come up with a better mobile solution and stop being lazy 🤣️ */
@media only screen and (max-width: 920px) {
	.actionBar {
		flex-direction: row;
	}
}
@media only screen and (max-width: 675px) {
	.actionBar {
		display: none;
	}
}
@media print {
	.actionBar {
		display: none;
	}
}

.actionIcon {
	font-size: 24px;
	color: var(--themeIcons);
	margin-right: 8px;
	transition: var(--transition);
}
.actionIcon:hover {
	color: var(--content);
}
