/* Themes */
.theme-light {
	--background: #f0f2f5;
	--background: oklch(92% 0.004 286.32);
	--contentBackground: oklch(98.5% 0 0);
	--boxShadow: oklch(55.2% 0.016 285.938 / 0.5);
	--content: oklch(14.1% 0.005 285.823);
	--divider: oklch(87.1% 0.006 286.286);
	--title: oklch(28.2% 0.091 267.935);
	--sectionHeader: oklch(37.9% 0.146 265.522);
	--positionName: oklch(35.9% 0.144 278.697);
	--themeIcons: oklch(70.5% 0.015 286.067 / 0.5);
	--dividerFill: transparent;

	--pill: var(--content);
	--pillBorder: oklch(44.2% 0.017 285.786);
	--pillBackground: var(--background);
}
.theme-dark {
	/* zinc-950 */
	--background: oklch(14.1% 0.005 285.823);
	/* zinc-900 */
	--contentBackground: oklch(21% 0.006 285.885);
	/* black@30 */
	--boxShadow: #0003;
	/* zinc-50 */
	--content: oklch(98.5% 0 0);
	/* zinc-600 */
	--divider: oklch(44.2% 0.017 285.786);
	/* indigo-400 */
	--title: oklch(67.3% 0.182 276.935);
	/* sky-400 */
	--sectionHeader: oklch(74.6% 0.16 232.661);
	/* teal-400 */
	--positionName: oklch(77.7% 0.152 181.912);
	/* zinc-400 */
	--themeIcons: oklch(70.5% 0.015 286.067 / 0.3);
	/* teal-200 */

	--pill: oklch(70.5% 0.015 286.067);
	--pillBorder: oklch(44.2% 0.017 285.786);
	--pillBackground: var(--background);

	--dividerFill: transparent;
}
.theme-hotdog {
	--background: #f00;
	--contentBackground: #ff0;
	--boxShadow: #0003;
	--content: #000;
	--divider: #f00;
	--title: #000;
	--sectionHeader: #000;
	--positionName: #f00;
	--themeIcons: #ff0c;
	--dividerFill: transparent;

	--pill: var(--content);
	--pillBorder: oklch(44.2% 0.017 285.786);
	/* --pillBackground: var(--background); */
}
.theme-contrast {
	--background: #fff;
	--contentBackground: #fff;
	--boxShadow: rgba(0, 0, 0, 0);
	--content: #000;
	--divider: #000;
	--title: #30336b;
	--sectionHeader: #000;
	--positionName: #30336b;
	--themeIcons: #30336b;
	--dividerFill: #000;

	--pill: var(--content);
	--pillBorder: var(--positionName);
	--pillBackground: var(--background);
	--pillBorderWidth: 1.5px;
}
@media print {
	[class^='theme-'] {
		/* --background: #f0f2f5;
		--background: oklch(92% 0.004 286.32); */

		--background: #f0f2f5;
		--contentBackground: #fff;

		--contentBackground: oklch(98.5% 0 0);
		--boxShadow: oklch(55.2% 0.016 285.938 / 0.5);
		--content: oklch(14.1% 0.005 285.823);
		--divider: oklch(87.1% 0.006 286.286);
		--title: oklch(28.2% 0.091 267.935);
		--sectionHeader: oklch(37.9% 0.146 265.522);
		--positionName: oklch(35.9% 0.144 278.697);
		--themeIcons: oklch(70.5% 0.015 286.067 / 0.5);
		--dividerFill: transparent;

		--pill: var(--content);
		--pillBorder: oklch(44.2% 0.017 285.786);
		--pillBackground: var(--background);
	}
}

[class^='theme-'] {
	--transition: all 0.25s linear, transform 0.1s ease-in-out;
}

*,
::before,
::after {
	box-sizing: border-box; /* 1 */
	background-repeat: no-repeat; /* 2 */
}
::before,
::after {
	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}

html,
body {
	line-height: 1.5; /* 2 */
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	background: var(--background);
	overflow-x: hidden;
	width: 100vw;
}

a {
	color: var(--positionName);
	text-decoration: underline;
	text-decoration-style: double;
	text-underline-offset: 2px;
	text-decoration-thickness: from-font;
	text-decoration-color: var(--sectionHeader);
	transition: var(--transition);
	display: inline-block;
}
a:hover {
	color: var(--content);
}

.theme-contrast a {
	color: var(--title);
	text-decoration-color: var(--title);
	text-decoration-style: solid;
	text-decoration-thickness: 1px;
	font-weight: 500;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font: inherit;
	color: var(--content);
	transition: var(--transition);
}
button:hover {
	color: var(--content);
	transform: scale(1.1);
}
